# Python Tutorial

- Python is one of the most beginner-friendly and powerful programming languages. <br>
- general purpose programming language used for web development, data analysis and many more<br>
- It's easy to learn and has simple syntax<br>
- Very powerful, used in Data science, Machine learning and AI<br>
- Huge community and lots of free resources

## Basics

In [2]:
# This is a comment

In [3]:
print("Print something here")

Print something here

## Data Types

- Numeric types
   * int
   * float
   * complex
- String
   * str
- Sequence
   * list
   * tuple
   * range
- Mapping
   * dict
- Boolean
   * bool

### General data types

In [5]:
x = 20
print(x)
print(type(x))

20
<class 'int'>

In [6]:
x = 20.5
print(x)
print(type(x))

20.5
<class 'float'>

In [7]:
x = '20'
print(x)
print(type(x))

20
<class 'str'>

In [8]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [10]:
x = 5 + 7j
y = 4 + 10j
print(x)
print(type(x))
print(x + y)

(5+7j)
<class 'complex'>
(9+17j)

### List

In [11]:
# list is a collection of items
# list can have items of different datatypes
# lists are index based and mutable/changeble
a = [1,2,3,4]
print(a)
print(type(a))

[1, 2, 3, 4]
<class 'list'>

In [12]:
a = ['Red','Blue','Green']
print(a)
print(type(a))

['Red', 'Blue', 'Green']
<class 'list'>

In [13]:
a = ['Red',2,'Green']
print(a)
print(type(a))

['Red', 2, 'Green']
<class 'list'>

In [15]:
print(a[1])

2

In [16]:
a[0]='Blue'
print(a)

['Blue', 2, 'Green']

In [17]:
print(len(a))

3

In [18]:
a.append('Brown')
a

['Blue', 2, 'Green', 'Brown']

In [19]:
a.remove('Brown')
a

['Blue', 2, 'Green']

In [25]:
b = a.reverse()
b

In [28]:
a[1] = 'Red'
a.sort()
a

['Blue', 'Red', 'Red']

### Tuple

In [31]:
# tuple is a collection of items
# tuple can have items of different datatypes
# tuple are index based and immutable/ not changeble
a = (1,2,3,4)
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [33]:
a[3]

4

In [34]:
a[1] = 5

TypeError: 'tuple' object does not support item assignment

### Dictionary

In [35]:
# dict is collection of key/value pairs
# value of dict can be accesses by keys
# dict is mutable
a = {1:"Blue",2:"Green",3:"Red"}
print(a)
print(type(a))

{1: 'Blue', 2: 'Green', 3: 'Red'}
<class 'dict'>

In [37]:
a[3]

'Red'

In [38]:
a[2] = 5
print(a)

{1: 'Blue', 2: 5, 3: 'Red'}

In [39]:
a.keys()

dict_keys([1, 2, 3])

In [40]:
a.items()

dict_items([(1, 'Blue'), (2, 5), (3, 'Red')])

## String functions

In [41]:
name, age = "John", 30
name,age

('John', 30)

In [43]:
# concatenation
print("Hello, I am " + name)

Hello, I am John

In [45]:
# concatenate string with int
print("Hello I am " + name + ", and I am " + str(age) + " years old")

Hello I am John, and I am 30 years old

In [48]:
# concatenate by arguments
print("Hello I am {first_name}, and I am {age} years old".format(first_name=name,age=age))

Hello I am John, and I am 30 years old

In [49]:
# concatenate using f string
print(f"Hello I am {name}, and I am {age} years old")

Hello I am John, and I am 30 years old

In [50]:
# capitalize
print("hello world".capitalize())

Hello world

In [51]:
# upper case
print("hello world".upper())

HELLO WORLD

In [52]:
# lower
print("HELLO WORLD".lower())

hello world

In [53]:
# swap case
print("HeLLO woRld".swapcase())

hEllo WOrLD

In [54]:
# length
print(len("HELLO WORLD"))

11

In [56]:
# replace, case sensitive
print("Hello world".replace("wor","all"))

Hello allld

In [60]:
# starts with, case sensitive
print("Hello world".startswith("Hel"))

True

In [61]:
# ends with, case sensitive
print("Hello world".endswith("world"))

True

In [65]:
# split, default delimeter is space
print("Hello,world world".split(","))

['Hello', 'world world']

In [69]:
# position, 0 based index, case-sensitive
print("Hello world".find("y"))

-1

In [73]:
# is string made up of alphabets
print("Helloworld".isalpha())

True

In [74]:
# is string made up of numbers
print("123446".isnumeric())

True

In [76]:
# is string made up of alpha numeric
print("abcde123446".isalnum())

False

## Conditionals

In [78]:
x , y = 10, 20
print(x,y)

10 20

In [83]:
# simple if condition
if x > 11:
    print("x is greater than 1")
    print("this will print anyway")

this will print anyway

In [84]:
if x < 1:
    print("x is less than 1")
else:
    print("x is greater than or equal to 1")

x is greater than or equal to 1

In [86]:
# tennary condition
x if x < y else y

10

In [87]:
if x < 1:
    print("x is less than 1")
elif x == 1:
    print("x is equal to 1")
else:
    print("x is greater than 1")

x is greater than 1

In [88]:
if x != y:
    print("not equal")

not equal

In [89]:
if not x == y:
    print("equal")

equal

In [90]:
# logical operators
if x > 5 and x > 7:
    print("x is greater than 5 and 7")

x is greater than 5 and 7

if x > 5 or x > 7:
    print("x is greater than 5 or 7")

In [92]:
# nested if
if x > 5:
    print("x is greater than 5")
    if x > 9:
        print("x is greater than 10")

x is greater than 5
x is greater than 10

In [95]:
a = ["apple", "banana", "cherry"]
# b = ["apple", "banana", "cherry"]
# b = a

b = a.copy()
if a is b:
    print("a is b")
else:
    print("a is not b")

a is not b

## Loops

In [100]:
# simple for loop
for i in range(0,5,2):
    print(i)

0
2
4

In [101]:
# break the loop
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [102]:
# continue the loop
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [104]:
colors = ['Red','Blue','Green','Orange']
for i in range(len(colors)):
    print(colors[i])

Red
Blue
Green
Orange

In [103]:
colors = ['Red','Blue','Green','Orange']
for color in colors:
    print(color)

Red
Blue
Green
Orange

In [105]:
colors_dict_array = [{1:'Red'},{2:'Blue'},{3:'Green'}]
for color_dict in colors_dict_array:
    print(color_dict)

{1: 'Red'}
{2: 'Blue'}
{3: 'Green'}

In [107]:
count = 0
while count < 10:
    print(count)
    count += 3

0
3
6
9

## Functions

A function is a block of code that runs only when it is called

In [109]:
# simple function
def print_message(message):
    print(message)

In [110]:
print_message("Hello there")

Hello there

In [111]:
def isEven(number):
    return number % 2 == 0

In [113]:
isEven(4)

True

### Lambda

Lambda function is a small anonymous function<br>
it can take any number of parameters, but can only have single expression

In [114]:
func = lambda number1,number2: number1 * number2
func(5,6)

30

## Class

In [135]:
# no underscore is public
# _ is protected
# __ is private
class Person:
    # constructor
    def __init__(self,first_name,last_name,age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
        self._year_of_birth = 2025 - age
        
    def say_hello(self):
        return f"Hello {self.first_name},{self.last_name}, you are born in {self._year_of_birth}"

In [136]:
p = Person(first_name="Developers",last_name="Heaven",age=10)
print(p.say_hello())

Hello Developers,Heaven, you are born in 2015

In [139]:
class Student(Person):
    def __init__(self,first_name,last_name,age):
        Person.__init__(self,first_name,last_name,age)

    def say_hello(self):
        return f"Hello {self.first_name},{self.last_name}, you are born in {self._year_of_birth}"

In [140]:
s = Student(first_name="Developers",last_name="Heaven",age=10)
s.say_hello()

'Hello Developers,Heaven, you are born in 2015'

## Modules

In [141]:
from datetime import date
date.today()

datetime.date(2025, 3, 13)

In [142]:
from time import time
time()

1741860647.893201

In [143]:
import sqlite3